<ion-view title="Choose" id="choose">
  <ion-content overflow-scroll="true" padding="true" style="background: url(img/434IOQ2SWraEdvokAgBJ_red-and-white.jpg) no-repeat center;" class="has-header">
    <form class="list"></form>
    <div class="list card">
      <div class="item item-divider">choose one</div>
      <div class="item item-body">
        <div style="text-align:center;">
        </div>
        <div class="spacer" style="width: 268px; height: 21px;"></div>
        <form class="list">
          <div id="choose" style="color:#000000;">
            <p>Which one should Barclay's sponsor?
            </p>
          </div>
          <div class="spacer" style="width: 268px; height: 21px;"></div>
          <img src="img/soccer.png" width="48%" class="choose_img">
          <img src="img/rugby.png" width="48%" class="choose_img">
          <div class="spacer" style="width: 268px; height: 35px;"></div>
        </form>
        <a ui-sref="menu.multipleChoice2" id="multipleChoice-button13" class="button button-calm button-small button-block icon-right ion-android-arrow-dropright">Next</a>
      </div>
    </div>
  </ion-content>
</ion-view>
