<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
              <ion-item ui-sref="menu.app_menu" menu-close="">Home</ion-item>
                <ion-item ui-sref="menu.user_profile" menu-close="">Profile</ion-item>
                <ion-item ui-sref="menu.soccerList" ng-click="sport" menu-close="">Sport News</ion-item>
                <ion-item ui-sref="menu.business" menu-close="">Business News</ion-item>
              <ion-item  ui-sref="app_menu(aboutus())" menu-close="">Aboutus</ion-item>

            </ion-list>
          <ion-item ui-sref="login" class="logout">Logout</ion-item>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
