<ion-view title="Multiple Choice" id="page14">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/QqLXYEvlQRmzojFSZrem_transfer.jpg" width="100%" height="auto">
                </div>
                <div class="spacer" style="width: 268px; height: 23px;"></div>
                <div id="multipleChoice2-markdown4" style="color:#000000;">
                    <p>How do you find our money tranfer service
                        <strong>?</strong>
                    </p>
                </div>
                <form class="list">
                    <ion-toggle toggle-class="toggle-royal" ng-checked="true">Ifficient</ion-toggle>
                    <ion-toggle toggle-class="toggle-assertive">Not Iffectient</ion-toggle>
                    <button id="multipleChoice2-button14" class="button button-calm  button-block">Submit</button>
                    <a ui-sref="menu.page1" id="multipleChoice2-button15" class="button button-positive  button-block icon ion-ios-home-outline"></a>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
