<ion-view title="Choose a Reward" id="reward">
  <ion-content overflow-scroll="true" padding="true" style="background: url(img/p.jpg) no-repeat center;" class="has-header">

    <!--<ion-list>-->
    <!--<ion-item class="item-thumbnail-left cs_holder"><img src="img/icon_cs.png"class="icon_cs"><h2 class="cs_name">Crowd Source 1</h2></ion-item>-->
    <!--<br>-->
    <!--<ion-item class="item-thumbnail-left"><img src="img/icon_cs.png"class="icon_cs">Crowd Source 2</ion-item>-->
    <!--<br>-->
    <!--<ion-item ui-sref="menu.page1" class="item-thumbnail-left"><img src="img/icon_cs.png"class="icon_cs">Crowd Source 3</ion-item>-->

    <!--</ion-list>-->
    <div class="row incoming_reward">
  <ion-list class="reward_list">
    <ion-item ng-click="showAlert()">
      AIRTIME
    </ion-item>

    <ion-item ng-click="showAlert1()">
      DATA BUNDLES
    </ion-item>

    <ion-item ng-click="showAlert2()">
      ELECTRICITY
    </ion-item>
    </ion-list>

    </div>

    <img src="img/reward.png">
  </ion-content>
</ion-view>
