<ion-view title="Rugby List " id="page11">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item ui-sref="rugbyNews">Item 1</ion-item>
            <ion-item ui-sref="rugbyNews">Item 2</ion-item>
            <ion-item ui-sref="rugbyNews">Item 3</ion-item>
        </ion-list>
        <ion-list>
            <ion-item ui-sref="rugbyNews">Item 1</ion-item>
            <ion-item ui-sref="rugbyNews">Item 2</ion-item>
            <ion-item ui-sref="rugbyNews">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>