<ion-view title="Rugby News" id="page9">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Rugby</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/EsspPzqTwKZTJN8RXNBw_rucbby.png" width="100%" height="auto">
                </div>
                <form class="list"></form>
                <div id="rugbyNews-markdown2" style="color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
                <div class="spacer" style="width: 268px; height: 18px;"></div>
                <button id="rugbyNews-button12" class="button button-positive  button-block icon-left ion-android-home">Home</button>
            </div>
        </div>
    </ion-content>
</ion-view>