<ion-view title="Soccer News" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Soccer</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/ZMkZMYoxSSWJlgDnmG1f_soccer.png" width="100%" height="auto">
                </div>
                <div id="soccerNews-markdown1" style="color:#000000;text-align:justify;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
                <div class="spacer" style="width: 268px; height: 15px;"></div>
                <button id="soccerNews-button11" class="button button-positive  button-block icon-left ion-android-home">Home</button>
            </div>
        </div>
    </ion-content>
</ion-view>